include ./_variables.pug
include ../mixins/_svg-icons.pug
include ../mixins/_slider.pug
block headVariables
  -
    let title = "Sin título"

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= `${title} - IvanMotor`
    link(rel="stylesheet", href="css/index.css")
    
    if jsAdditionalSource
      script(src=`js/${jsAdditionalSource}`, defer)
  body
    include ../includes/_header.pug
    block main
    include ../includes/_footer.pug
    script(src="js/index.js", type="text/javascript")