-
  let pagesList = [
    {
      svgId: 0,
      url: "/servicios",
      name: "Servicios"
    },
    {
      svgId: 1,
      url: "/contacto",
      name: "Contáctanos"
    },
    {
      svgId: 2,
      url: "/contacto#ubicacion",
      name: "Ubícanos"
    }
  ]

  const servicesData = [
    {
      title: "Servicio 3",
      desc: "Tercer servicio de la empresa",
      img: "media/Dog.jpg",
      styles: {
        "--left": -1,
        background: "white",
      },
    },
    {
      title: "Servicio 1",
      desc: "Primer servicio de la empresa",
      img: "media/Dog.jpg",
      styles: {
        "--left": 0,
        background: "white",
      },
    },
    {
      title: "Servicio 2",
      desc: "Segundo servicio de la empresa",
      img: "media/Dog.jpg",
      styles: {
        "--left": 1,
        background: "white",
      },
    },
  ]

  let jsAdditionalSource = undefined