-
  let pagesList = [
    {
      svgId: 0,
      url: "servicios.html",
      name: "Servicios"
    },
    {
      svgId: 1,
      url: "contacto.html",
      name: "Contáctanos"
    },
    {
      svgId: 2,
      url: "contacto.html#ubicacion",
      name: "Ubícanos"
    }
  ]

  const servicesData = [
    {
      title: "Planchado y pintura",
      //- desc: "Tercer servicio de la empresa",
      img: "media/reparacion.png",
      styles: {
        "--left": -1,
        //- background: "white",
      },
    },
    {
      title: "Reparación de motores",
      img: "media/reparacion.png",
      styles: {
        "--left": 0,
      },
    },
    {
      title: "Auxilio mecánico",
      img: "media/reparacion.png",
      styles: {
        "--left": 1,
      },
    },
    {
      title: "Mantenimiento preventivo",
      img: "media/reparacion.png",
      styles: {
        "--left": 2,
      },
    },
    {
      title: "Venta de repuestos",
      img: "media/reparacion.png",
      styles: {
        "--left": 3,
      },
    },
    {
      title: "Mecánica en general (Suspensión y dirección)",
      img: "media/reparacion.png",
      styles: {
        "--left": 4,
      },
    },
  ]

  let jsAdditionalSource = undefined