-
  let pagesList = [
    {
      svgId: 0,
      url: "/servicios.html",
      name: "Servicios"
    },
    {
      svgId: 1,
      url: "/contacto.html",
      name: "Contáctanos"
    },
    {
      svgId: 2,
      url: "/contacto.html#ubicacion",
      name: "Ubícanos"
    }
  ]

  const servicesData = [
    {
      title: "Planchado y pintura",
      //- desc: "Tercer servicio de la empresa",
      img: "media/reparacion.png",
      styles: {
        "--left": -1,
        //- background: "white",
      },
    },
    {
      title: "Reparación de motores",
      //- desc: "Reparación de motor",
      img: "media/reparacion.png",
      styles: {
        "--left": 0,
        //- background: "white",
      },
    },
    {
      title: "Auxilio mecánico",
      //- desc: "Segundo servicio de la empresa",
      img: "media/reparacion.png",
      styles: {
        "--left": 1,
        //- background: "white",
      },
    },
  ]

  let jsAdditionalSource = undefined