-
  let pagesList = [
    {
      svgId: 0,
      url: "servicios.html",
      name: "Servicios"
    },
    {
      svgId: 1,
      url: "contacto.html",
      name: "Contáctanos"
    },
    {
      svgId: 2,
      url: "ubicacion.html",
      name: "Ubícanos"
    }
  ]

  const servicesData = [
    {
      title: "Planchado y pintura",
      img: "media/planchado-y-pintura.jpg",
      styles: {
        "--left": -1,
      },
    },
    {
      title: "Reparación de motores",
      img: "media/reparacion-de-motor.jpg",
      styles: {
        "--left": 0,
      },
    },
    {
      title: "Auxilio mecánico",
      img: "media/auxilio-mecanico.jpg",
      styles: {
        "--left": 1,
      },
    },
    {
      title: "Mantenimiento preventivo",
      img: "media/mantenimiento-preventivo.jpg",
      styles: {
        "--left": 2,
      },
    },
    {
      title: "Venta de repuestos",
      img: "media/venta-de-repuestos.jpg",
      styles: {
        "--left": 3,
      },
    },
    {
      title: "Mecánica en general (Suspensión y dirección)",
      img: "media/suspension-direccion.jpg",
      styles: {
        "--left": 4,
      },
    },
  ]

  let jsAdditionalSource = undefined