extends ../config/_layout.pug
append headVariables
  -
    title = "Inicio"

block main
  section.home.banner
    h1.logo-title IvanMotor
    hr
    p.banner-desc Tenemos más de 10 años de experiencia en reparación y mantenimiento de vehículos automotores
  main.three-card-columns
    article.card-component
      div.card-data
        h3 Servicios
        p Nuestros técnicos están capacitados para brindarle un buen servicio
      a(href="./servicios.html").btn.ghost Ver servicios
    article.card-component.highlighted
      div.card-data
        h3 Contáctanos
        //- p Infórmate sobre nuestro horario de atención, número de teléfono y email
        p Comunícate a través de nuestro número de teléfono o correo electrónico, y conoce nuestro horario de atención
      a(href="./contacto.html").btn Ver formulario de contacto
    article.card-component
      div.card-data
        h3 Ubícanos
        p Visita nuestro local para resolver su problema
      a(href="./ubicacion.html").btn.ghost Ver mapa