extends ../config/_layout.pug
append headVariables
  -
    title = "Inicio"

block main
  section.home.banner
    h1.logo-title IvanMotor
    hr
    p.banner-desc Tenemos más de 10 años de experiencia en reparación y mantenimiento de vehículos automotores
  main.three-card-columns
    article.card-component
      div.card-data
        h3 Servicios
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, nemo.
      a(href="./servicios.html").btn.ghost Ver servicios
    article.card-component.highlighted
      div.card-data
        h3 Contáctanos
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, nemo.
      a(href="./contacto.html").btn Ver formulario de contacto
    article.card-component
      div.card-data
        h3 Ubícanos
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, nemo.
      a(href="./ubicacion.html").btn.ghost Ver mapa