extends ../config/_layout.pug
append headVariables
  -
    title = "Inicio"

block main
  section.home-banner
    h1.logo-title IvanMotor
    p.banner-desc Hacemos desde reparación de motor hasta auxilio mecánico desde más de 10 años!
    img.banner-img(
      src="media/reparacion.png",
      alt="A dog on a garden",
      width="100%",
    )
  section.sect-services
    h2 Servicios
    p Conoce todos nuestros servicios que ofrecemos a nuestros clientes.
    a(href="/servicios").btn Ir a servicios
  section.sect-contact
    h2 Contáctanos 
    p Programa una cita, pide auxilio mecánico o trae tu vehículo revisando todos nuestros datos de contacto.
    .btn-wrapper
      a(href="/contacto").btn Ver datos de contacto
      a(href="/contacto").btn.ghost Ubícanos