extends ../config/_layout.pug
append headVariables
  -
    title = "Servicios"
    jsAdditionalSource = "services.js"

block main
  include ../includes/_banner.pug
  section.slider-sect
    p Atendemos a vehículos de motor a combustión petroleros, gasolineros, GNV y GLP de todas las marcas, americanas, asiáticas y europeas.
    +slider(servicesData)
    noscript.noscript-slider
      | Es necesario que active JavaScript para ver el contenido de este componente.