extends ../config/_layout.pug
append headVariables
  -
    title = "Ubícanos"

block main
  include ../includes/_banner.pug
  main.location-section
    h2 Mapa de GoogleMaps
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d243.70093255813404!2d-76.94536303618989!3d-12.23372216401744!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb6bd4fd31f6dd3c!2sIvanMotor!5e0!3m2!1ses-419!2spe!4v1634074026432!5m2!1ses-419!2spe" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    h3 Dirección exacta
    p Mz. D Lt. 4 La Encantada Grupo 1
    p Villa el Salvador, Lima (Perú)