:root {
  --sep: .5rem;
}
@media screen and (min-width: 300px) {
  :root {
    --sep: 2rem;
  }
}
@media screen and (min-width: 800px) {
  :root {
    --sep: calc(16vw - 80px);
  }
}
@media screen and (min-width: 1400px) {
  :root {
    --sep: calc(50vw - (700px - 9rem));
  }
}

:root {
  font-size: 16px;
  --bg: hsl(190 30% 97%);
  --stroke-color: hsl(220 10% 60%);
  --header-height: 4.5rem;
  --navbar-height: 4rem;
  --animable-navbar-height: 4rem;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Regular.ttf) format("ttf");
  font-display: fallback;
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Bold.ttf) format("ttf");
  font-display: fallback;
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: local("Roboto Black"), local("Roboto-Black"), url(../fonts/Roboto/Roboto-Black.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Black.ttf) format("ttf");
  font-display: fallback;
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto/Roboto-Medium.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Medium.ttf) format("ttf");
  font-display: fallback;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - var(--animable-navbar-height));
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: var(--bg, white);
  transition: --animable-navbar-height 0.2s;
  --animable-navbar-height: 4rem;
}
@media screen and (min-width: 800px) {
  body {
    min-height: 100vh;
    margin-bottom: 0;
  }
}
body.on-scroll {
  --animable-navbar-height: 0px;
}

a {
  text-decoration: none;
}
a.nav-link {
  color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 799px) {
  a.nav-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 800px) {
  a.nav-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1em;
    gap: 0.5rem;
  }
}
a:hover, a:focus {
  text-decoration: underline;
}

section {
  padding: 3rem;
  padding-left: var(--sep);
  padding-right: var(--sep);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1.5rem;
  width: 100%;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.75rem;
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 1.75rem;
  }
}

main p {
  margin-bottom: 0.5em;
}
main h2, main h3 {
  margin-top: 0.95em;
  margin-bottom: 0.75em;
}

.btn {
  --color: hsl(var(--hue) 80% 60%);
  font: inherit;
  font-size: 1.1em;
  font-weight: 500;
  border: 0.2em solid var(--color);
  background: var(--color);
  color: white;
  display: inline-block;
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: background 0.2s, border-color 0.2s;
  transition: background 0.2s, border-color 0.2s;
}
@media screen and (min-width: 800px) {
  .btn {
    font-size: 1.4em;
  }
}
.btn:hover {
  --color: hsl(var(--hue) 100% 55%);
  text-decoration: none;
}
.btn.ghost {
  background: var(--secondary, white);
  color: var(--color);
}
.btn.ghost:hover {
  background: var(--color);
  color: white;
}

.btn-wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

main {
  padding-left: var(--sep);
  padding-right: var(--sep);
}

.header-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
  z-index: 999999999;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  font-weight: 700;
  color: currentColor;
}

.nav-icon {
  height: 2rem;
  fill: currentColor;
}

.header-page {
  color: black;
  background: white;
  height: var(--header-height);
  font-size: 1rem;
  -webkit-box-shadow: 0 -0.2em var(--stroke-color) inset;
          box-shadow: 0 -0.2em var(--stroke-color) inset;
  -webkit-transition-property: color, background-color, height, font-size, -webkit-box-shadow;
  transition-property: color, background-color, height, font-size, -webkit-box-shadow;
  transition-property: color, background-color, height, font-size, box-shadow;
  transition-property: color, background-color, height, font-size, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

body.top-page .header-page {
  color: white;
  background: transparent;
  -webkit-box-shadow: 0 -0.2em transparent inset;
          box-shadow: 0 -0.2em transparent inset;
}

body.on-scroll .header-page {
  height: calc(var(--header-height) - 1.4rem);
  font-size: 0.8rem;
}

@media screen and (max-width: 799px) {
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--navbar-height);
    color: black;
    background: white;
    padding-left: var(--sep);
    padding-right: var(--sep);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-shadow: 0 1.5px var(--stroke-color) inset;
            box-shadow: 0 1.5px var(--stroke-color) inset;
  }

  .navbar {
    -webkit-transform: translateY(calc(var(--navbar-height) - var(--animable-navbar-height)));
            transform: translateY(calc(var(--navbar-height) - var(--animable-navbar-height)));
  }

  .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-icon {
    height: 1.7rem;
  }

  .logo {
    padding-left: var(--sep);
    padding-right: var(--sep);
  }
}
@media screen and (min-width: 800px) {
  .header-page {
    padding-left: var(--sep);
    padding-right: var(--sep);
  }

  .logo {
    padding: 0;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    font-size: 1em;
  }
}
.footer-page {
  margin-top: auto;
  background: #2d3649;
  padding: 1.5rem;
  color: #eef1f6;
  padding-left: var(--sep);
  padding-right: var(--sep);
}
.footer-page li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}
.footer-page .foot-icon {
  height: 1.5em;
}
.footer-page a {
  color: currentColor;
  text-decoration: underline;
}
.footer-page a:hover {
  text-decoration: none;
}
.footer-page > * {
  margin-bottom: 0.7em;
}

.banner {
  --pad: 2rem;
  padding-left: var(--sep);
  padding-right: var(--sep);
  padding-top: calc(var(--header-height) + 1.5rem);
  padding-bottom: var(--pad);
  position: relative;
  color: white;
  background: black;
}
.banner > * {
  position: relative;
}
.banner::before {
  content: "";
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0051ff), to(rgba(0, 81, 255, 0.3)));
  background-image: linear-gradient(#0051ff, rgba(0, 81, 255, 0.3));
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home.banner {
  padding-bottom: 2rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: black;
}
.home.banner .logo-title {
  font-size: 3rem;
  letter-spacing: -0.1ch;
  text-align: start;
}
.home.banner .banner-desc {
  font-size: 1.25rem;
}
.home.banner::before {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../media/local.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  opacity: 0.7;
}

@media screen and (min-width: 300px) {
  .home.banner {
    padding-bottom: calc(var(--pad) + var(--header-height));
  }
}
@media screen and (min-width: 800px) {
  .home.banner {
    height: 40rem;
  }
  .home.banner .banner-desc {
    font-size: 1.5rem;
  }
}
.slider-sect {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider-container.no-js > :not(noscript) {
  display: none;
}

.slider-container {
  width: 100%;
  max-width: 870px;
  position: relative;
}
.slider-container .screens-container {
  --img-height: 75%;
  width: 100%;
  height: 0;
  padding-bottom: calc(var(--img-height) + 1.75rem * 9);
  position: relative;
  overflow-x: hidden;
}
.slider-container .slide {
  --left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  -webkit-transform: translateX(calc(var(--left) * 100%));
          transform: translateX(calc(var(--left) * 100%));
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-container .img-wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: var(--img-height);
  max-width: 800px;
}
@media screen and (min-width: 300px) {
  .slider-container .screens-container {
    --img-height: calc(75% * 0.8);
    padding-bottom: calc(var(--img-height) + 1.75rem * 6);
  }
  .slider-container .img-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 800px) {
  .slider-container .screens-container {
    --img-height: calc(75% * 0.6);
    padding-bottom: calc(var(--img-height) + 1.75rem * 4.5);
  }
  .slider-container .img-wrapper {
    width: 60%;
  }
}
.slider-container img {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.slider-container h3 {
  font-weight: 900;
  color: #333333;
  margin-top: 0.7em;
  font-size: 1.75em;
  text-align: center;
}

.noscript-slider {
  background: white;
  border-radius: 1.5rem;
  -webkit-filter: drop-shadow(3px 6px 12px #6699ff);
          filter: drop-shadow(3px 6px 12px #6699ff);
  color: #888;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 800px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 500;
}

.slider-container .controls > button {
  position: absolute;
  --btn-sep: .5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: none;
  background: rgba(204, 204, 204, 0.6);
  width: 3.5rem;
  height: 3.5rem;
}
.slider-container .controls > button:hover, .slider-container .controls > button:focus {
  background: rgba(153, 153, 153, 0.6);
}
.slider-container .controls > button[disabled] {
  background: rgba(230, 230, 230, 0.6);
}
.slider-container .controls > button .icon {
  display: block;
  height: 2rem;
}

.slider-container .controls > .prev {
  left: var(--btn-sep);
}

.slider-container .controls > .next {
  right: var(--btn-sep);
}

.contact-section {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.contact-section .contact-list {
  display: block;
  padding-left: 0.75rem;
  margin-top: 1rem;
}
.contact-section .contact-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5em;
}
.contact-section .contact-list svg {
  height: 1.5rem;
  margin-right: 0.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contact-section .contact-list a {
  color: black;
  font-weight: 500;
  text-decoration: underline;
}
.contact-section .contact-list a:hover {
  text-decoration: none;
}
.contact-section .location.btn {
  --hue: 210deg;
}

.contact-form {
  margin-top: 1rem;
}
.contact-form input[type=text], .contact-form textarea {
  font-size: 1rem;
  margin-top: 0.25em;
  margin-bottom: 0.85em;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
  border: solid 0.15rem #7a7a7a;
}
.contact-form input[type=text]:focus, .contact-form textarea:focus {
  border-color: #0055ff;
  outline: none;
}
.contact-form textarea {
  max-height: 300px;
  min-height: 100px;
  width: 350px;
  max-width: 100%;
  display: block;
  resize: vertical;
}
.contact-form p {
  font-weight: 500;
}
.contact-form p label {
  cursor: pointer;
}
.contact-form button.btn {
  --hue: 210;
}

@media screen and (min-width: 300px) {
  .contact-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .contact-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
.location-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.location-section iframe {
  max-width: 100%;
}

.three-card-columns {
  padding: 0;
  gap: 0;
  font-size: 1.15rem;
}
.three-card-columns .card-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2.5rem 1rem;
  gap: 0.5rem;
  max-width: 450px;
  margin: auto;
}
.three-card-columns .card-component h3 {
  font-size: 1.25rem;
}
.three-card-columns .card-component .card-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.three-card-columns .card-component .btn {
  --hue: 210deg;
  font-size: 1.25rem;
  padding: 0.25em 0.5em;
}
.three-card-columns .card-component.highlighted {
  background: #d6f1ff;
}

@media screen and (min-width: 300px) {
  .three-card-columns {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: var(--sep);
    padding-right: var(--sep);
  }
  .three-card-columns .card-component {
    padding: 1.5rem 1rem;
    gap: 2rem;
  }
  .three-card-columns .card-component h3 {
    font-size: 1.5rem;
  }
  .three-card-columns .card-component .card-data {
    gap: 1rem;
  }
  .three-card-columns .card-component.highlighted {
    border-radius: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .three-card-columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr 0 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
  .three-card-columns .card-component {
    height: 100%;
    padding: 2rem 1.75rem;
    gap: 3rem;
    max-width: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .three-card-columns .card-component h3 {
    font-size: 1.65rem;
  }
}