footer.footer-page
  p IvanMotor Copyright 2021. Todos los derechos reservados.
  ul.contact-data
    li
      +svg-icon(3, "foot-icon")
      | 950900590
    li
      +svg-icon(4, "foot-icon")
      a(href="mailto:pumaricrareinan@gmail.com") pumaricrareinan@gmail.com
    //- li Escríbenos a: pumaricrareinan@gmail.com