footer.footer-page
  p IvanMotor Copyright 2021. Todos los derechos reservados.
  ul.contact-data
    li
      +svg-icon(3, "foot-icon")
      a(href="tel:+51950900590") (+51) 950 900 590
    li
      +svg-icon(5, "foot-icon")
      a(href="mailto:contacto@ivanmotor.com") contacto@ivanmotor.com