header.header-page
  a(href="./index.html").logo IvanMotor
  nav.navbar
    each pageInfo in pagesList
      a(href=pageInfo.url).nav-link
        +svg-icon(pageInfo.svgId, "nav-icon")
        = pageInfo.name
