.contact-section {
  display: block;


  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .contact-list {
    display: block;
    padding-left: .75rem;
    margin-top: 1rem;
    & > li {
      display: flex;
      margin-bottom: .5em;
    }
    svg {
      height: 1.5rem;
      margin-right: .5rem;
      flex-shrink: 0;
    }
    a {
      color: black;
      font-weight: 500;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .location.btn {
    --hue: 210deg;
  }
}

.contact-form {
  margin-top: 1rem;

  input[type="text"], textarea {
    // display: block;
    font-size: 1rem;
    margin-top: .25em;
    margin-bottom: .85em;
    padding: .25em .5em;

    border-radius: .25rem;
    border: solid .15rem hsl(0deg 0% 48%);

    &:focus {
      border-color: hsl(220deg 100% 50%);
      outline: none;
    }
  }

  textarea {
    max-height: 300px;
    min-height: 100px;
    width: 350px;
    max-width: 100%;
    // max-width: 100%;
    display: block;
    resize: vertical;
  }

  p {
    font-weight: 500;
    label {
      cursor: pointer;
    }
  }
  button.btn {
    --hue: 210;
  }
}

@media screen and (min-width: 300px) {
  .contact-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .contact-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}