.googlemap_iframe {
  max-width: 100%;
}

.location {
  background: hsl(202 100% 80%);
  position: relative;
}

.personal-data {
  --hue: 205;

  a.btn {
    align-self: flex-start;
  }
}

.personal-data-wrapper {
  --cols-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols-count), 1fr);
  gap: 2rem;

  @media screen and (min-width: 800px), (orientation: landscape) {
    --cols-count: 2;
  }
}

#ubicacion {
  position: absolute;
  opacity: 0;
  top: calc(var(--header-height) * -1);
  left: 0;
}