.slider-sect {
  padding-top: 5rem;
  padding-bottom: 5rem;

  // background: hsl(220, 100%, 80%);

  align-items: center;

  flex: 1;
}

.slider-container.no-js > :not(noscript) {
  display: none;
}

.slider-container {
  width: 100%;
  max-width: 870px;
  position: relative;

  .screens-container {
    --img-height: 75%;
    width: 100%;
    height: 0;
    padding-bottom: calc(var(--img-height) + 1.75rem * 9);
    position: relative;

    overflow-x: hidden;
  }

  .slide {
    --left: 0;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    transform: translateX(calc(var(--left) * 100%));
    // left: calc(var(--left) * 100%);

    transition: transform .5s;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
  .img-wrapper {
    // max-width: 70%;
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: var(--img-height);

    max-width: 800px;
  }
  @media screen and (min-width: 300px) {
    .screens-container {
      --img-height: calc(75% * 0.8);
      padding-bottom: calc(var(--img-height) + 1.75rem * 6);
    }
    .img-wrapper {
      width: 80%;
    }
  }
  @media screen and (min-width: 800px) {
    .screens-container {
      --img-height: calc(75% * 0.6);
      padding-bottom: calc(var(--img-height) + 1.75rem * 4.5);
    }
    .img-wrapper {
      width: 60%;
    }
  }

  img {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    

    border-radius: 2rem;
    object-fit: cover;
    display: block;
  }

  h3 {
    font-weight: 900;
    color: hsl(220, 0%, 20%);
    margin-top: .7em;
    font-size: 1.75em;
    text-align: center;
  }
}


.noscript-slider {
  background: white;
  border-radius: 1.5rem;
  filter: drop-shadow(3px 6px 12px hsl(220, 100%, 70%));
  color: #888;
  width: 100%;
  flex: 1;
  max-width: 800px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-weight: 500;
}


.slider-container .controls > button {
  position: absolute;
  --btn-sep: .5rem;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  border: none;
  background: hsl(0deg 0% 80% / 0.6);
  width: 3.5rem;
  height: 3.5rem;

  &:hover, &:focus {
    background: hsl(0deg 0% 60% / 0.6);
  }
  &[disabled] {
    background: hsl(0deg 0% 90% / 0.6);
  }

  .icon {
    display: block;
    height: 2rem;
  }
}

.slider-container .controls > .prev {
  left: var(--btn-sep);
}

.slider-container .controls > .next {
  right: var(--btn-sep);

}

